<p>Detail works</p>
<md-card>
    <img md-card-md-image [src]="(bot | async)?.avatar"/>
    <md-card-title>{{(bot | async)?.name}}</md-card-title>
    <md-card-subtitle>{{(bot | async)?.model}}</md-card-subtitle>
    <md-card-content>{{(bot | async)?.price | currency:'USD':true:'1.0-0'}}</md-card-content>
    <md-card-subtitle>Reviews</md-card-subtitle>
    <md-card-content >
        <md-list *ngIf="(reviews | async)">
            <md-list-item *ngFor="let review of (reviews| async)">
                <p md-line>{{review.rating}}</p>
                <p md-line>{{review.review}}</p>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>