<md-card class="robo-detail">
    <img md-card-md-image class="robo-image" [src]="(bot | async)?.avatar"/>
    <h2 class="robo-name">{{(bot | async)?.name}}</h2>
    <h4 class="robo-model">{{(bot | async)?.model}}</h4>
    <h4 class="robo-price">{{(bot | async)?.price | currency:'USD':true:'1.0-0'}}</h4>
    <app-rating-stars *ngIf="averageRating > 0" class="robo-average-rating" [rating]="averageRating"></app-rating-stars>
    <md-card-content *ngIf="!(reviews | async)">
        <md-spinner mode="indeterminate" class="spinner"></md-spinner>
    </md-card-content>
    <md-card-content *ngIf="(reviews | async)">
        <h4>Reviews</h4>
        <p *ngIf="(reviews | async)?.length === 0">No reviews yet.</p>
        <div *ngIf="(reviews | async)">
            <div *ngFor="let review of (reviews| async)">
                <app-rating-stars [rating]="review.rating"></app-rating-stars>
                <p class="review-text">{{review.review}}</p>
            </div>
        </div>
    </md-card-content>
</md-card>